.dialog-blanco{
  --background: #fafafa;
  --color: #3c3c3c;
}
.dialog-list-blanco{
    background: #ffffff;
    color: #3c3c3c;
}
.dialog-list-blanco ion-item, .dialog-list-blanco ion-button {
    --background: #ffffff;
    --color: #3c3c3c;
}